body {
    font-family: Ubuntu;
    background-color: #edebea;
}

h1 {
    color: black;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    font-size: 10vw;
}

h3 {
    color: black;
    font-size: 4vw;
    margin-top: 3px;
    text-align: center;
}

#chatbox {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 60px;
}

#userInput {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 60px;
}

#textInput {
    width: 87%;
    border: none;
    border-bottom: 3px solid #CEB888;
    font-family: Ubuntu Mono;
    font-size: 4vw;
}

#buttonInput {
    padding: 3px;
    font-family: Ubuntu Mono;
    font-size: 4vw;
}

.userText {
    color: black;
    font-family: Ubuntu Mono;
    font-size: 4vw;
    text-align: right;
    line-height: 10vw;
}

.userText span {
    background-color: #CEB888;
    padding: 10px;
    border-radius: 2px;
}

.botText {
    color: white;
    font-family: Ubuntu;
    font-size: 4vw;
    text-align: left;
    line-height: 10vw;
}

.botText span {
    background-color: #782F40;
    padding: 10px;
    border-radius: 2px;
}

#tidbit {
    position:absolute;
    bottom:0;
    right:0;
    width: 500px;
}