<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />
  </head>
  <body>
    <h1>Dirac_AI</h1>
    <h3>FSU > UF</h3>
    <div>
      <div id="chatbox">
        <p class="botText"><span>Hi! I'm Dirac. How can I help?</span></p>
      </div>
      <div id="userInput">
        <input id="textInput" type="text" name="msg" placeholder="Message">
        <input id="buttonInput" type="submit" value="Send">
      </div>
      <script>
        // Global variables
        gameIsActive = false;
        gameType = "tip"
        gameStage = "init"
        price = 0;
        percentTip = 0.00;

        // Sends a bot message.
        function setBotMessage(text){
          var botHtml = '<p class="botText"><span>' + text + '</span></p>';
          $("#chatbox").append(botHtml);
          document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
        }
        function setUserMessage(text){
          var userHtml = '<p class="userText"><span>' + text + '</span></p>';
          $("#textInput").val("");
          $("#chatbox").append(userHtml);
          document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
        }
        function tip_instructions(){
          // Tip activity
          gameIsActive = true;
          gameStage = "serverRate";
          price = Math.floor((Math.random() * 26) + 15);
          setBotMessage("You are a customer at a restaurant.");
          setBotMessage("You have finished your meal and your server hands you the check.");
          setBotMessage("The check totals to $" + price +  ", but you must add the tip.");
          setBotMessage("How was your server? (good, average, bad)");
        }
        function tip_rate(rating){
          gameStage = "checkTip";
          if(rating == "good"){
            percentTip = 0.20;
          }else if(rating == "average"){
            percentTip = 0.15;
          }else{
            percentTip = 0.10;
          }
          setBotMessage("Since your server is " + rating + ", they should receive a "
                         + (percentTip * 100) + " percent tip.");
          setBotMessage("How much should they be paid?");
        }
        function tip_check(tip){
          gameIsActive = false;
          gameStage = "init";
          gameType = "None";
          if(tip == price * percentTip){
            setBotMessage("Correct! Thanks for playing!");
            setBotMessage("Anything else I can help with?");
          }else{
            setBotMessage("Wrong. :c");
            setBotMessage("The correct answer was: $" + price * percentTip + ".");
            setBotMessage("Thanks for playing!");
            setBotMessage("Anything else I can help with?");
          }
        }
        function invalidOption(){
          setBotMessage("Invalid option, try again...");
        }
        // Gets a bot response.
        function getBotResponse(query) {
          var rawText = query
          $.get("/get", { msg: rawText }).done(function(data) {
            if(data.includes("\n")){
              for(i = 0; i < data.length; i++){
                if(data[i] == '\n'){
                  var botHtml = '<p class="botText"><span>' + data.substring(0, i) + '</span></p>';
                  $("#chatbox").append(botHtml);
                  document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
                  data = data.substring(i+1)
                  i = 0
                }
              }
            }
            // Opens a new window if the return statement is a website.
            else if(data.includes("https://")){
              window.open(data);
            }else{
              // Generates 
              setBotMessage(data);
            }
          });
        }
        $("#textInput").keypress(function(e) {
            if(e.which == 13) {
                text = $("#textInput").val()
                setUserMessage(text);
                if(gameIsActive){
                  if(gameStage == "serverRate"){
                    tip_rate(text);
                  }else if(gameStage == "checkTip"){
                    tip_check(text);
                  }
                }else if(text.includes("tip")){
                  tip_instructions();
                }
                else{getBotResponse(text);
                }
              $("#textInput").val("");
        }});
        $("#buttonInput").click(function() {
          text = $("#textInput").val()
          setUserMessage(text);
          if(gameIsActive){
            if(gameStage == "serverRate"){
              tip_rate(text);
            }else if(gameStage == "checkTip"){
              tip_check(text);
            }
          }else if(text.includes("tip")){
            tip_instructions();
          }
          else{
            getBotResponse(text);
        }
        $("#textInput").val("");
        });
      </script>
    </div>
  </body>
</html>